body {
	text-align: center;
}

canvas {
	border: 1px solid black;
	width: 600px;
	margin: 0 auto;
	display: block;
	background-color: #999966;
}

.game-buttons {
	display: block;
	width: 600px;
	margin: 0 auto;
	border: 1px solid black;
}

.sub-button {
	display: inline;
	width: 300px;
	border: 1px solid black;
}